<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.css"
    />
    <style>
      body{
          padding: 50px;
          background-color: black;
         
      }
      tr :hover{
          background-color: beige;
          color: red;
      }
      input{
          width: 220px;
          height: 40%;
      }
      #table_markets thead tr:first-child{
          color: red;
      }
      #table_ticker thead tr:first-child{
          color: blue;
      }
  </style>
  </head>
  <body>
    <div style="text-align: center;margin-bottom: 20px;">
      <input type="number" name="test" id="money" onchange="setUpbitData()">
  </div>
  <div style="display: flex; color: white;">
      <div style="flex: 5;">
      <table id="table_markets" class="table text-center">
          <thead>
          <tr>
              <td>한글명</td>
              <td>현재가</td>
              <td>미국가</td>
              <td>김프</td>
              <td>내돈</td>
          </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
      </div>
      <div style="flex: 5; margin-left: 50px;">
      <table id="table_ticker" class="table text-center">
          <thead>
          <tr>
              <td>한글명</td>
              <td>현재가</td>
              <td>미국가</td>
              <td>김프</td>
              <td>내돈</td>
          </tr>
          </thead>
          <tbody>
          </tbody>
      </table>
      </div>
  </div>
  </body>
  <script>
  function goToKraMoney(mym,buy,sell){
    var mesususu = mym * 0.0006 //매수 수수료 + 출금 수수료 추출
    var realMoney = mym - mesususu //매수 수수료 + 출금 수수료 원금에서 빼고
    var upbitTokra = (realMoney/buy) * sell //원금으로 업비트가에사서 크라켄가에 팔면
    var medosusu = upbitTokra * 0.0025 //크라 매도 수수료추출
    var kraToupbit = upbitTokra-medosusu//크라 매도 수수료 뺀 마지막 원금
    var lastMoney = kraToupbit-mym//계산금액 - 원금
    return kraToupbit.toFixed(0)
  }

  function goToUpbit(mym,buy,sell){
    var mesususu = mym * 0.0026 //크라 매수 수수료추출
    var realMoney = mym - mesususu //원금 - 크라 매수 출금 수수료
    var kraTOup = (realMoney/sell) * buy //크라켄에서 사서 업비트에서 팔면남는돈
    var kramedo = kraTOup * 0.0005 //매수 수수료 + 출금 수수료 추출
    var kraToupbit = kraTOup-kramedo//크라 매도 수수료 뺀 마지막 원금
    lastMoney = kraToupbit-mym//계산금액 - 원금
    return kraToupbit.toFixed(0)
  }

  function comma(str) {
    str = String(str);
    return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, "$1,");
  }

  function setUpbitData() {
    var mymoney;
    if($('#money').val()==""){
      mymoney = 5000000
    }else{
      mymoney = $('#money').val()
    }
    $.ajax({
      url: 'http://localhost:3000/a',
      type: 'GET',
    })
    .done(function(coin) {
      var gotoUp = [];
      $("#table_markets > tbody > tr").remove();
      for (let i =0; i < coin.length ; i++) {
        let rowHtml = "<tr><td>" + coin[i].uname + "</td>";
        rowHtml += "<td>" + comma(coin[i].ubuy) + "</td>";
        rowHtml += "<td>" + comma(coin[i].usell) + "</td>";
        rowHtml += "<td>" + coin[i].ukimp + "</td>";
        rowHtml += "<td>" + goToKraMoney(mymoney,coin[i].ubuy,coin[i].usell) + "</td>";
        gotoUp.push(goToKraMoney(mymoney,coin[i].ubuy,coin[i].usell))
        rowHtml += "</tr>";
        $("#table_markets > tbody").append(rowHtml);
      } 

        $.ajax({
        url: 'http://localhost:3000/b',
        type: 'GET',
      })
      .done(function(coin) {
        $("#table_ticker > tbody > tr").remove();
        for (let i =0; i < coin.length ; i++) {
          let rowHtml = "<tr><td>" + coin[i].uname + "</td>";
          rowHtml += "<td>" + comma(coin[i].ubuy) + "</td>";
          rowHtml += "<td>" + comma(coin[i].usell) + "</td>";
          rowHtml += "<td>" + coin[i].ukimp + "</td>";
          rowHtml += "<td>" + goToUpbit(gotoUp[i],coin[i].ubuy,coin[i].usell) + "</td>";
          rowHtml += "</tr>";
          $("#table_ticker > tbody").append(rowHtml);
        } 
      })
      .fail(function(args) {
          console.log("클라에러");
      });

    })
    .fail(function(args) {
        console.log("클라에러");
    });
    setTimeout(setUpbitData, 5000);
  }
  $(function () {
    setUpbitData();
  });
</script>
</html>
</html>
